  <% for (let taskpanel of taskpanels) {%>
  <div class="card" style="width: 18rem;">
    <div class="">
      <form action="/" method="get">
        <%= taskpanel.title %>
    </div>
    <br>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <%= taskpanel.task %>
      </li>
    </ul>
    </form>
    <form action="/<%= taskpanel._id%>?_method=PUT" method="POST">
      <li class="list-group-item">
        <input type="text" name="taskpanel[task]" value="<%= taskpanel.task %>">
      </li>
      <button>edit</button>
    </form>
    <form action="/<%= taskpanel._id%>?_method=DELETE" method="POST">
      <button>DELETE</button>
    </form>
  </div>
  <% } %>