<%- include('../partials/head.ejs')%>
<%- include('../partials/navbar.ejs')%>
<h1 class="fs-4">Your Tasks</h1>
<div class="container-fluid">
  <div class="row">

    <%- include('../partials/card.ejs')%>
    <%- include('../partials/addcard.ejs')%>

    <button id="addBtn" class="btn btn-primary">+</button>
  </div>
</div>

<%- include('../partials/footer.ejs')%>