<%- include('../partials/head.ejs')%>
<%- include('../partials/navbar.ejs')%>

<h1>Your Cards</h1>
<div class="container-fluid">
  <%- include('../partials/flash.ejs') %>
  <div class="row">
    <%- include('../partials/card.ejs')%>
    <%- include('../partials/addcard.ejs')%>
    <button id="addBtn" class="btn btn-primary">+</button>
  </div>
</div>

<div class="position-absolute bottom-0 end-0 mb-3 me-3">
  <form method="POST" action="/userpanelwallpaper" enctype="multipart/form-data">
    <div class="input-group">
      <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="wallpaper">
      <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Change wallpaper</button>
    </div>
  </form>
</div>
<%- include('../partials/footer.ejs')%>